services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ENV: "production"
    depends_on:
      - db
    # volumes:
    #   - bot-data:/app

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
    # volumes:
    #   - postgres:/var/lib/postgresql/data

# volumes:
#   postgres:
  # bot-data:
